<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MCMall copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>MCMall copy 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>MCMall copy 6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>MCMall copy 8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>MCMall copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>MCMall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A37B0D51B0CC62A00D0FE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A37B0EE1B0CC62A00D0FE88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ADFB67A1BBDA482000BF698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ADFB7761BBDA868000BF698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ADFB8611BBDA877000BF698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ADFB94C1BBDA88F000BF698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ADFBA371BBDA89B000BF698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
